[Desktop Entry]
Categories=Qt;KDE;System;
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY xdg-open /root
GenericName[zh_CN]=使用root（根账户）打开文件管理器
GenericName=File Manager run as root
GenericName[ast]=File Manager run as root
GenericName[az]=File Manager run as root
GenericName[be@latin]=File Manager run as root
GenericName[bs]=File Manager run as root
GenericName[ca@valencia]=File Manager run as root
GenericName[ca]=File Manager run as root
GenericName[cs]=Terminál as root
GenericName[csb]=File Manager run as root
GenericName[da]=File Manager run as root
GenericName[de]=File Manager run as root
GenericName[en_GB]=File Manager run as root
GenericName[eo]=File Manager run as root
GenericName[es]=File Manager run as root
GenericName[et]=File Manager run as root
GenericName[eu]=File Manager run root
GenericName[fr]=File Manager run as root
GenericName[fy]=File Manager run as root
GenericName[gl]=File Manager run as root
GenericName[hr]=File Manager run as root
GenericName[hsb]=File Manager run as root
GenericName[ia]=File Manager run as root
GenericName[id]=File Manager run as root
GenericName[it]=File Manager run as root
GenericName[ja]=ファイルマネージャーをroot権限で実行
GenericName[lt]=File Manager as run root
GenericName[nb]=File Manager run as root
GenericName[nl]=File Manager run as root
GenericName[nn]=File Manager run as root
GenericName[pl]=File Manager run as root
GenericName[pt]=File Manager run as root
GenericName[pt_BR]=File Manager run as root
GenericName[ro]=File Manager run as root
GenericName[se]=File Manager run as root
GenericName[sl]=File Manager run as root
GenericName[sr@ijekavianlatin]=File Manager run as root
GenericName[sr@latin]=File Manager run as root
GenericName[sv]=File Manager run as root
GenericName[uz]=File Manager run as root
GenericName[zh_TW]=檔案管理員以系統管理員身份運行
Icon=file-manager-root
Name[zh_CN]=以root身份运行文件管理器
Name=File Manager run as root
Name[af]=File Manager run as root
Name[as]=File Manager run as root
Name[ast]=File Manager run as root
Name[az]=File Manager run as root
Name[be@latin]=File Manager run as root
Name[be]=File Manager run as root
Name[bg]=File Manager run as root
Name[bn_IN]=File Manager run as root
Name[br]=File Manager run as root
Name[ca@valencia]=File Manager run as root
Name[ca]=File Manager run as root
Name[cy]=File Manager run as root
Name[da]=File Manager run as root
Name[de]=File Manager run as root
Name[en_GB]=File Manager run as root
Name[eo]=File Manager run as root
Name[es]=File Manager run as root
Name[eu]=File Manager run as root
Name[fi]=File Manager run as root
Name[fr]=File Manager run as root
Name[fy]=File Manager run as root
Name[ga]=File Manager run as root
Name[gl]=File Manager run as root
Name[hu]=File Manager run as root
Name[ia]=File Manager run as root
Name[id]=File Manager run as root
Name[is]=File Manager run as root
Name[it]=File Manager run as root
Name[ja]=File Manager run as root
Name[ka]=File Manager run as root
Name[kk]=File Manager run as root
Name[ko]=File Manager run as root
Name[lt]=File Manager run as root
Name[lv]=File Manager run as root
Name[ms]=File Manager run as root
Name[nb]=File Manager run as root
Name[nds]=File Manager run as root
Name[sr@ijekavianlatin]=File Manager run as root
Name[sr@latin]=File Manager run as root
Name[th]=File Manager run as root
Name[tr]=File Manager run as root
Name[ug]=File Manager run as root
Name[uk]=File Manager run as root
Name[uz@cyrillic]=File Manager run as root
Name[uz]=File Manager run as root
Name[vi]=File Manager run as root
Name[wa]=File Manager run as root
Name[xh]=File Manager run as root
Name[zh_TW]=File Manager run as root
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AuthorizeAction=shell_access
X-KDE-SubstituteUID=false
X-KDE-Username=
