[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-steam.sh
GenericName=Install Steam and play games
GenericName[zh_CN]=安装Steam游戏平台
GenericName[zh_TW]=安裝Steam遊戲平台
GenericName[en_GB]=Install Steam for gaming
GenericName[ja]=Steamをインストールしてゲームをプレイ
GenericName[ko]=Steam 설치 및 게임 플레이
GenericName[de]=Steam installieren und spielen
GenericName[fr]=Installer Steam pour jouer aux jeux
GenericName[es]=Instalar Steam para jugar
GenericName[pt]=Instalar Steam para jogar
GenericName[ru]=Установить Steam для игр
GenericName[ar]=تثبيت ستيم لتشغيل الألعاب
GenericName[hi]=गेम खेलने के लिए Steam स्थापित करें
Icon=steam-launcher
Name=Install Steam
Name[zh_CN]=一键安装Steam
Name[zh_TW]=一鍵安裝Steam
Name[en_GB]=One-Click Install Steam
Name[ja]=ワンクリックSteamインストーラー
Name[ko]=원클릭 Steam 설치
Name[de]=Ein-Klick-Installation von Steam
Name[fr]=Installation en un clic de Steam
Name[es]=Instalar Steam con un clic
Name[pt]=Instalar Steam com um clique
Name[ru]=Установка Steam одним кликом
Name[ar]=تثبيت ستيم بنقرة واحدة
Name[hi]=एक क्लिक में Steam स्थापित करें
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
