[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-nvidia-580-sec.sh
GenericName=Install NVIDIA Driver (Version 580) for Secure Boot User
GenericName[zh_CN]=安装英伟达显卡驱动（580版本，适用于安全启动的用户）
GenericName[zh_TW]=安裝NVIDIA顯示卡驅動580版（支援安全開機）
GenericName[en_GB]=Install NVIDIA Driver Version 580 with Secure Boot Support
GenericName[ja]=セキュアブート対応 NVIDIAドライバー 580版をインストール
GenericName[ko]=시큐어 부트 지원 NVIDIA 드라이버 580 버전 설치
GenericName[de]=NVIDIA-Treiber Version 580 mit Secure-Boot-Unterstützung installieren
GenericName[fr]=Installer le pilote NVIDIA version 580 compatible Secure Boot
GenericName[es]=Instalar controlador NVIDIA v580 compatible con Secure Boot
GenericName[pt]=Instalar driver NVIDIA versão 580 com suporte ao Secure Boot
GenericName[ru]=Установка драйвера NVIDIA версии 580 с поддержкой безопасной загрузки
GenericName[ar]=تثبيت برنامج تشغيل NVIDIA الإصدار 580 مع دعم الإقلاع الآمن
GenericName[hi]=सुरक्षित बूट समर्थन सहित NVIDIA ड्राइवर संस्करण 580 स्थापित करें
Icon=nvidia
Name=Install NVIDIA Driver (Ver.580) with Secure Boot
Name[zh_CN]=一键安装NVIDIA驱动（580版本，包含安全启动支持）
Name[zh_TW]=一鍵安裝NVIDIA驅動580版（支援安全開機）
Name[en_GB]=One-click Install NVIDIA Driver v580 (Secure Boot Support)
Name[ja]=ワンクリック NVIDIA 580ドライバーインストーラー（セキュアブート対応）
Name[ko]=원클릭 NVIDIA 580 드라이버 설치 (시큐어 부트 지원)
Name[de]=Ein-Klick-Installation NVIDIA-Treiber v580 (Secure Boot)
Name[fr]=Installation en un clic pilote NVIDIA v580 (Secure Boot)
Name[es]=Instalación un clic controlador NVIDIA v580 (Compatible Secure Boot)
Name[pt]=Instalar driver NVIDIA v580 com um clique (Suporte Secure Boot)
Name[ru]=Установка драйвера NVIDIA v580 одним кликом (Безопасная загрузка)
Name[ar]=تثبيت برنامج تشغيل NVIDIA v580 بنقرة واحدة (دعم الإقلاع الآمن)
Name[hi]=एक क्लिक में NVIDIA ड्राइवर v580 स्थापित करें (सुरक्षित बूट समर्थन)
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
