[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-nvidia-latest.sh
GenericName=Install Latest NVIDIA Graphics Driver
GenericName[zh_CN]=安装英伟达显卡驱动（最新版本）
GenericName[zh_TW]=安裝最新版NVIDIA顯示卡驅動程式
GenericName[en_GB]=Install the latest NVIDIA graphics driver
GenericName[ja]=最新NVIDIAグラフィックドライバーをインストール
GenericName[ko]=최신 NVIDIA 그래픽 드라이버 설치
GenericName[de]=Neuesten NVIDIA-Grafiktreiber installieren
GenericName[fr]=Installer le dernier pilote graphique NVIDIA
GenericName[es]=Instalar el último controlador gráfico NVIDIA
GenericName[pt]=Instalar o driver gráfico NVIDIA mais recente
GenericName[ru]=Установить новейший драйвер видеокарты NVIDIA
GenericName[ar]=تثبيت أحدث برنامج تشغيل كرت شاشة NVIDIA
GenericName[hi]=नवीनतम NVIDIA ग्राफिक्स ड्राइवर स्थापित करें
Icon=nvidia
Name=Install NVIDIA Driver (Latest)
Name[zh_CN]=一键安装NVIDIA驱动（最新版本）
Name[zh_TW]=一鍵安裝NVIDIA顯示卡驅動（最新版）
Name[en_GB]=One-Click Install Latest NVIDIA Driver
Name[ja]=ワンクリック 最新NVIDIAドライバー一括インストーラー
Name[ko]=원클릭 최신 NVIDIA 드라이버 설치
Name[de]=Ein-Klick-Installation des neuesten NVIDIA-Treibers
Name[fr]=Installation en un clic du dernier pilote NVIDIA
Name[es]=Instalación en un clic del último controlador NVIDIA
Name[pt]=Instalar driver NVIDIA mais recente com um clique
Name[ru]=Установка новейшего драйвера NVIDIA одним кликом
Name[ar]=تثبيت أحدث برنامج تشغيل NVIDIA بنقرة واحدة
Name[hi]=एक क्लिक में नवीनतम NVIDIA ड्राइवर स्थापित करें
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
