[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-nvidia-390.sh
GenericName=Install NVIDIA Graphics Driver (Version 390)
GenericName[zh_CN]=安装英伟达显卡驱动（版本390）
GenericName[zh_TW]=安裝NVIDIA顯示卡驅動程式 390版本
GenericName[en_GB]=Install NVIDIA Graphics Driver Version 390
GenericName[ja]=NVIDIAグラフィックドライバー 390版をインストール
GenericName[ko]=NVIDIA 그래픽 드라이버 390 버전 설치
GenericName[de]=NVIDIA-Grafiktreiber Version 390 installieren
GenericName[fr]=Installer le pilote graphique NVIDIA version 390
GenericName[es]=Instalar controlador gráfico NVIDIA versión 390
GenericName[pt]=Instalar driver gráfico NVIDIA versão 390
GenericName[ru]=Установить драйвер видеокарты NVIDIA версии 390
GenericName[ar]=تثبيت برنامج تشغيل كرت الشاشة NVIDIA الإصدار 390
GenericName[hi]=NVIDIA ग्राफिक्स ड्राइवर संस्करण 390 स्थापित करें
Icon=nvidia
Name=Install NVIDIA Driver (Ver.390)
Name[zh_CN]=一键安装NVIDIA驱动（版本390）
Name[zh_TW]=一鍵安裝NVIDIA顯示卡驅動 390版
Name[en_GB]=One-Click Install NVIDIA Driver v390
Name[ja]=ワンクリック NVIDIA 390ドライバー一括インストーラー
Name[ko]=원클릭 NVIDIA 390 드라이버 설치
Name[de]=Ein-Klick-Installation des NVIDIA-Treibers v390
Name[fr]=Installation en un clic du pilote NVIDIA v390
Name[es]=Instalación con un clic del controlador NVIDIA v390
Name[pt]=Instalar driver NVIDIA v390 com um clique
Name[ru]=Установка драйвера NVIDIA v390 одним кликом
Name[ar]=تثبيت برنامج تشغيل NVIDIA v390 بنقرة واحدة
Name[hi]=एक क्लिक में NVIDIA ड्राइवर v390 स्थापित करें
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
