[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-nvidia-580.sh
GenericName=Install NVIDIA Graphics Driver (Version 580)
GenericName[zh_CN]=安装英伟达显卡驱动（580版本）
GenericName[zh_TW]=安裝NVIDIA顯示卡驅動程式 580版本
GenericName[en_GB]=Install NVIDIA Graphics Driver Version 580
GenericName[ja]=NVIDIAグラフィックドライバー 580版をインストール
GenericName[ko]=NVIDIA 그래픽 드라이버 580 버전 설치
GenericName[de]=NVIDIA-Grafiktreiber Version 580 installieren
GenericName[fr]=Installer le pilote graphique NVIDIA version 580
GenericName[es]=Instalar controlador gráfico NVIDIA versión 580
GenericName[pt]=Instalar driver gráfico NVIDIA versão 580
GenericName[ru]=Установить драйвер видеокарты NVIDIA версии 580
GenericName[ar]=تثبيت برنامج تشغيل كرت الشاشة NVIDIA الإصدار 580
GenericName[hi]=NVIDIA ग्राफिक्स ड्राइवर संस्करण 580 स्थापित करें
Icon=nvidia
Name=Install NVIDIA Driver (Ver.580)
Name[zh_CN]=一键安装NVIDIA驱动（580版本）
Name[zh_TW]=一鍵安裝NVIDIA顯示卡驅動 580版
Name[en_GB]=One-Click Install NVIDIA Driver v580
Name[ja]=ワンクリック NVIDIA 580ドライバー一括インストーラー
Name[ko]=원클릭 NVIDIA 580 드라이버 설치
Name[de]=Ein-Klick-Installation des NVIDIA-Treibers v580
Name[fr]=Installation en un clic du pilote NVIDIA v580
Name[es]=Instalación con un clic del controlador NVIDIA v580
Name[pt]=Instalar driver NVIDIA v580 com um clique
Name[ru]=Установка драйвера NVIDIA v580 одним кликом
Name[ar]=تثبيت برنامج تشغيل NVIDIA v580 بنقرة واحدة
Name[hi]=एक क्लिक में NVIDIA ड्राइवर v580 स्थापित करें
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
