[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-wine.sh
GenericName=Install Linux run Windows App Support
GenericName[zh_CN]=直接安装Linux运行Windows程序支持
Icon=wine
Name=Install Wine
Name[zh_CN]=一键安装Wine
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
