[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-nvidia-latest-sec.sh
GenericName=Install Latest NVidia Driver for Secure Boot User
GenericName[zh_CN]=安装英伟达显卡驱动（最新版本，适用于安全启动的用户）
GenericName[zh_TW]=安裝最新版NVIDIA顯示卡驅動程式（支援安全開機）
GenericName[en_GB]=Install latest NVIDIA graphics driver with Secure Boot support
GenericName[ja]=セキュアブート対応最新NVIDIAグラフィックドライバーをインストール
GenericName[ko]=시큐어 부트 지원 최신 NVIDIA 그래픽 드라이버 설치
GenericName[de]=Neuesten NVIDIA-Grafiktreiber mit Secure-Boot-Unterstützung installieren
GenericName[fr]=Installer le dernier pilote graphique NVIDIA compatible Secure Boot
GenericName[es]=Instalar el último controlador gráfico NVIDIA compatible con Secure Boot
GenericName[pt]=Instalar o driver gráfico NVIDIA mais recente com suporte ao Secure Boot
GenericName[ru]=Установка новейшего драйвера NVIDIA с поддержкой безопасной загрузки
GenericName[ar]=تثبيت أحدث برنامج تشغيل كرت شاشة NVIDIA مع دعم الإقلاع الآمن
GenericName[hi]=सुरक्षित बूट समर्थन के साथ नवीनतम NVIDIA ग्राफिक्स ड्राइवर स्थापित करें
Icon=nvidia
Name=Install NVidia Driver (Latest) with Secure Boot
Name[zh_CN]=一键安装NVIDIA驱动（最新版本，包含安全启动支持）
Name[zh_TW]=一鍵安裝NVIDIA驅動（最新版，支援安全開機）
Name[en_GB]=One-click Install Latest NVIDIA Driver (Secure Boot Support)
Name[ja]=ワンクリック 最新NVIDIAドライバーインストーラー（セキュアブート対応）
Name[ko]=원클릭 최신 NVIDIA 드라이버 설치 (시큐어 부트 지원)
Name[de]=Ein-Klick-Installation des neuesten NVIDIA-Treibers (Secure Boot)
Name[fr]=Installation en un clic du dernier pilote NVIDIA (Secure Boot)
Name[es]=Instalación en un clic del último controlador NVIDIA (Compatible Secure Boot)
Name[pt]=Instalar driver NVIDIA mais recente com um clique (Suporte Secure Boot)
Name[ru]=Установка новейшего драйвера NVIDIA одним кликом (Безопасная загрузка)
Name[ar]=تثبيت أحدث برنامج تشغيل NVIDIA بنقرة واحدة (دعم الإقلاع الآمن)
Name[hi]=एक क्लिक में नवीनतम NVIDIA ड्राइवर स्थापित करें (सुरक्षित बूट समर्थन)
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
