[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-steam.sh
GenericName=Install Steam and play
GenericName[zh_CN]=直接安装Steam
Icon=steam-launcher
Name=Install Steam
Name[zh_CN]=一键安装Steam
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
