[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-wine.sh
GenericName=Install Linux run Windows App Support
GenericName[zh_CN]=安装Linux运行Windows程序支持
GenericName[zh_TW]=安裝Linux執行Windows程式支援
GenericName[en_GB]=Install support for running Windows apps on Linux
GenericName[ja]=Linux上でWindowsアプリを実行するためのサポートをインストール
GenericName[ko]=Linux에서 Windows 앱 실행 지원 설치
GenericName[de]=Unterstützung für Windows-Anwendungen unter Linux installieren
GenericName[fr]=Installer la prise en charge des applications Windows sur Linux
GenericName[es]=Instalar soporte para ejecutar apps de Windows en Linux
GenericName[pt]=Instalar suporte para executar apps do Windows no Linux
GenericName[ru]=Установить поддержку запуска приложений Windows в Linux
GenericName[ar]=تثبيت دعم تشغيل تطبيقات ويندوز على لينكس
GenericName[hi]=Linux पर Windows ऐप चलाने के लिए समर्थन स्थापित करें
Icon=wine
Name=Install Wine
Name[zh_CN]=一键安装Wine
Name[zh_TW]=一鍵安裝Wine
Name[en_GB]=One-click Install Wine
Name[ja]=ワンクリックWineインストーラー
Name[ko]=원클릭 Wine 설치
Name[de]=Ein-Klick-Installation von Wine
Name[fr]=Installation en un clic de Wine
Name[es]=Instalación de Wine con un clic
Name[pt]=Instalar Wine com um clique
Name[ru]=Установка Wine одним кликом
Name[ar]=تثبيت واين بنقرة واحدة
Name[hi]=एक क्लिक में Wine स्थापित करें
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
