[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-extra-fonts.sh
GenericName=Install Additional Required Fonts
GenericName[zh_CN]=安装补充字体
GenericName[zh_TW]=安裝額外所需字型
GenericName[en_GB]=Install additional required fonts
GenericName[ja]=追加必要フォントをインストール
GenericName[ko]=필요한 추가 글꼴 설치
GenericName[de]=Zusätzliche benötigte Schriftarten installieren
GenericName[fr]=Installer les polices supplémentaires nécessaires
GenericName[es]=Instalar fuentes adicionales necesarias
GenericName[pt]=Instalar fontes adicionais necessárias
GenericName[ru]=Установить дополнительные необходимые шрифты
GenericName[ar]=تثبيت الخطوط الإضافية المطلوبة
GenericName[hi]=आवश्यक अतिरिक्त फ़ॉन्ट स्थापित करें
Icon=preferences-desktop-font-installer
Name=Install Extra Fonts
Name[zh_CN]=一键安装补充字体
Name[zh_TW]=一鍵安裝額外字型
Name[en_GB]=One-Click Install Additional Fonts
Name[ja]=ワンクリック 追加フォント一括インストーラー
Name[ko]=원클릭 추가 글꼴 설치
Name[de]=Ein-Klick-Installation zusätzlicher Schriftarten
Name[fr]=Installation en un clic des polices supplémentaires
Name[es]=Instalación en un clic de fuentes adicionales
Name[pt]=Instalar fontes extras com um clique
Name[ru]=Установка дополнительных шрифтов одним кликом
Name[ar]=تثبيت الخطوط الإضافية بنقرة واحدة
Name[hi]=एक क्लिक में अतिरिक्त फ़ॉन्ट स्थापित करें
NoDisplay=false
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
