[Desktop Entry]
Comment=
Exec=\ssh /usr/share/evernight-vista-tools/install-midi.sh
GenericName=Install MIDI Playback Support
GenericName[zh_CN]=安装MIDI播放支持
GenericName[zh_TW]=安裝MIDI播放支援
GenericName[ja]=MIDI再生機能をインストール
GenericName[ko]=MIDI 재생 지원 설치
GenericName[en_GB]=Install MIDI Playback Support
GenericName[de]=MIDI-Wiedergabe-Unterstützung installieren
GenericName[fr]=Installer la prise en charge de la lecture MIDI
GenericName[es]=Instalar soporte de reproducción MIDI
GenericName[pt]=Instalar suporte para reprodução MIDI
GenericName[ru]=Установить поддержку воспроизведения MIDI
GenericName[ar]=تثبيت دعم تشغيل ملفات MIDI
GenericName[hi]=MIDI प्लेबैक समर्थन स्थापित करें
Icon=audio-midi
Name=Install MIDI Play Support
Name[zh_CN]=一键安装MIDI播放支持
Name[zh_TW]=一鍵安裝MIDI播放支援
Name[ja]=ワンクリック MIDI再生環境インストーラー
Name[ko]=원클릭 MIDI 재생 지원 설치
Name[en_GB]=One-Click Install MIDI Play Support
Name[de]=Ein-Klick-Installation der MIDI-Wiedergabe
Name[fr]=Installation en un clic de la lecture MIDI
Name[es]=Instalación un clic del soporte MIDI
Name[pt]=Instalar suporte MIDI com um clique
Name[ru]=Установка поддержки MIDI одним кликом
Name[ar]=تثبيت دعم MIDI بنقرة واحدة
Name[hi]=एक क्लिक में MIDI प्लेबैक समर्थन स्थापित करें
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility
